.advice 
    .container  
        .menu__advice 
            //- .setka 
            //-     img(src="assets/img/setke.png", alt="")
            .bar__advice
                h1 advance booking
                .in 
                    input(type="text"  placeholder="search restaurant, food")
                    button Go
            .bar__menu 
                .bottom_ad 
                    a(href="") Date
                    p 23-09-2020 
                .bottom_ad 
                    a(href="") Time
                    p 5.00 pM 
                .bottom_ad 
                    a(href="") Guests
                    p 3 People
    img(src="assets/img/right__food.png", alt="")