.choice 
    .container 
        .menu 
            .row 
                .col-12.col-xl-6.col-lg-6  
                    .box__item 
                        .text some top restaurant for<br>dining in or Take away!
                .col-12.col-xl-6.col-lg-5
                    .box__item 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. Volutpat metus id amet, nam hac magna accumsan. Nascetur ac tortor purus ultrices morbi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed.