.footer 
    img(src="assets/img/foot.png", alt="")
    .container 
        .menu 
            .bar__foot 
                .title Get notified<br>about new amazing products
                .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. 
                .input 
                    input(type="text"  placeholder="search restaurant, food")
                    button 
                        img(src="assets/img/bottom__footer.png", alt="")
                ul 
                    li: a(href="#") Product 
                    li: a(href="#") Company 
                    li: a(href="#") Learn More
                    li: a(href="#") Git IN Touch