.bar
    .container
        .row 
            .col-12.col-xl-6.col-lg-7.col-sm-6
                .bar__left
                    p Food
                    .title Discover Restaurant & Delicious Food
                    .input 
                        input(type="text"  placeholder="search restaurant, food")
                        button Go
            .col-12.col-xl-6.col-lg-5.col-sm-6
                .bar__right 
                    .img__top 
                        img(src="assets/img/setke.png", alt="" class="setka")
                        img(src="assets/img/menu2.png", alt="" class='food')
                        img(src="assets/img/menu.png", alt="" )
                    //- .imgs 
                    //-     img(src="assets/img/left.png", alt="")
                    //-     img(src="assets/img/right.png", alt="")
                    .litte__bot 
                        img(src="assets/img/litte_food.png", alt="" class="mm") 
                        img(src="assets/img/litt.png", alt="")
    .btn 
        button 
            img(src="assets/img/Vector.png", alt="")
            p Rajshahi
                    