.our_product 
    .container 
        .top 
            h1 Explore Our Foods
            .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor <br> eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, <br> tincidunt. Volutpat metus id amet.
        .body 
            .row 
                .col-12.col-lg-5.col-md-6
                    .body_box 
                        img(src="assets/img/our1.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 
                .col-12.col-lg-5.col-md-6 
                    .body_box 
                        img(src="assets/img/our2.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 
                .col-12.col-lg-5.col-md-6
                    .body_box 
                        img(src="assets/img/our3.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 
                .col-12.col-lg-5.col-md-6 
                    .body_box 
                        img(src="assets/img/our4.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 
                .col-12.col-lg-5.col-md-6 
                    .body_box 
                        img(src="assets/img/our5.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 
                .col-12.col-lg-5.col-md-6 
                    .body_box 
                        img(src="assets/img/our6.png", alt="" class="img-responsive")
                        .box__our 
                            .top 
                                p Hand Sandwich
                                .num $10.25
                            .bottom Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing. 