.prices
    .container 
        .menu 
            .row 
                .col-12.col-lg-6 
                    .left 
                        p Download app for <br>Exciting Deals
                        .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est, adipiscing cursus auctor eget sed phasellus senectus. Ut tellus donec vestibulum tristique leo bibendum in a, tincidunt. 
                        .btn 
                            button 
                                img(src="assets/img/googleplay.png", alt="")
                                .rit 
                                    p get it on 
                                    h5 google Play
                            button 
                                img(src="assets/img/apple.png", alt="")
                                .rit 
                                    p Download on the 
                                    h5 App Store
                .col-12.col-lg-6 
                    .right 
                        img(src="assets/img/right__food.png", alt="" )
                        img(src="assets/img/price.png", alt="" class="price" )