.service
    .container
        .menu__choice 
            .row 
                .col-12.col-lg-3.col-md-3.col-sm-6 
                    .box__img 
                        img(src="assets/img/choice1.png", alt="" )
                    .box_choice__item     
                        p Food For Free<br>24/7
                        text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .col-12.col-lg-3.col-md-3.col-sm-6 
                    .box_choice__item     
                        p advanced table <br> booking
                        text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        .box__imgg 
                            img(src="assets/img/choice3.png", alt="" ) 
                .col-12.col-lg-5.col-md-5.col-sm-12 
                    .box_choice 
                        img(src="assets/img/choice2.png", alt="")
                        p free home delivery <br> at your door steps
                        text Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. 