.slider 
    .menu 
        .row 
            img(src="assets/img/setke.png", alt="" class="setke")
            .col-12.col-lg-5.col-md-10
                .slider__box 
                    img(src="assets/img/img1.png", alt="" class="img-responsive")
                    .burger 
                        .title Fire Water
                        .text we are all about we are all about to the fullest and all content dining out or in!dining out or in!
                        .bottom 
                            img(src="assets/img/Vector.png", alt="" class="local")
                            p New Market
                        button Book Now
            .col-12.col-lg-5.col-md-10
                .slider__box 
                    img(src="assets/img/img2.png", alt="" class="img-responsive")
                    .burger 
                        .title The Wonton 
                        .text we are all about we are all about to the fullest and all content dining out or in!dining out or in!
                        .bottom 
                            img(src="assets/img/Vector.png", alt="" class="local")
                            p Saheb Bazar
                        button Book Now
                //- .setka 
                //-     img(src="assets/img/setke.png", alt="")
            .slider__right 
                button  
                    <svg width="6" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.80024 7.41008L1.64264 13.6286C1.37245 13.9008 0.934699 13.9008 0.663825 13.6286C0.393634 13.3563 0.393634 12.9141 0.663825 12.6418L6.33301 6.91673L0.664508 1.19165C0.394317 0.919381 0.394317 0.477152 0.664508 0.204198C0.934699 -0.0680661 1.37313 -0.0680661 1.64333 0.204198L7.80092 6.42263C8.06696 6.69208 8.06696 7.14126 7.80024 7.41008Z" fill="white"/></svg>

                