doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="assets/css/style.css")
    body 
        include ../blocks/header.pug
        include ../blocks/neckpart.pug
        include ../blocks/choice.pug
        include ../blocks/slider.pug
        include ../blocks/advice.pug
        include ../blocks/service__top.pug
        include ../blocks/service.pug
        include ../blocks/our_product.pug
        include ../blocks/prices.pug
        include ../blocks/footer.pug